:root {
  /* Slate */
  --brand-slate-50: #f3f5f7;
  --brand-slate-100: #e7eaed;
  --brand-slate-150: #dbe0e5;
  --brand-slate-200: #cfd5dc;
  --brand-slate-300: #b6bfca;
  --brand-slate-400: #9eaab9;
  --brand-slate-500: #8695a7;
  --brand-slate-600: #6b7786;
  --brand-slate-700: #505964;
  --brand-slate-800: #363c43;
  --brand-slate-900: #1b1e21;
  --brand-slate-950: #0d0f11;

  /* Blue */
  --brand-blue-50: #e6f1ff;
  --brand-blue-100: #cde2ff;
  --brand-blue-150: #b4d4ff;
  --brand-blue-200: #9bc5ff;
  --brand-blue-300: #68a8ff;
  --brand-blue-400: #368bff;
  --brand-blue-500: #046eff;
  --brand-blue-600: #0358cc;
  --brand-blue-700: #024299;
  --brand-blue-800: #022c66;
  --brand-blue-900: #011633;
  --brand-blue-950: #000b19;

  /* Gray */
  --brand-gray-50: #f9f9f9;
  --brand-gray-100: #f2f2f2;
  --brand-gray-150: #ececec;
  --brand-gray-200: #e5e5e5;
  --brand-gray-300: #d7d7d7;
  --brand-gray-400: #cacaca;
  --brand-gray-500: #bdbdbd;
  --brand-gray-600: #979797;
  --brand-gray-700: #717171;
  --brand-gray-800: #4c4c4c;
  --brand-gray-900: #262626;
  --brand-gray-950: #131313;

  /* Red */
  --brand-red-100: #fbdcdc;
  --brand-red-150: #f9cbcc;
  --brand-red-200: #f7b9ba;
  --brand-red-300: #f39597;
  --brand-red-400: #ef7275;
  --brand-red-500: #eb4f52;
  --brand-red-600: #bc3f42;
  --brand-red-700: #8d2f31;
  --brand-red-800: #5e2021;
  --brand-red-900: #2f1010;
  --brand-red-950: #170808;

  /* Orange */
  --brand-orange-100: #ffe8da;
  --brand-orange-150: #ffdcc8;
  --brand-orange-200: #ffd0b5;
  --brand-orange-300: #ffb991;
  --brand-orange-400: #ffa16c;
  --brand-orange-500: #ff8a47;
  --brand-orange-600: #cc6e39;
  --brand-orange-700: #99532b;
  --brand-orange-800: #66371c;
  --brand-orange-900: #331c0e;
  --brand-orange-950: #190e07;

  /* Green */
  --brand-green-100: #d7f1df;
  --brand-green-150: #c4ead0;
  --brand-green-200: #afe3bf;
  --brand-green-300: #88d4a0;
  --brand-green-400: #60c680;
  --brand-green-500: #38b860;
  --brand-green-600: #2d934d;
  --brand-green-700: #226e3a;
  --brand-green-800: #164a26;
  --brand-green-900: #0b2513;
  --brand-green-950: #06120a;

  /* Teal */
  --brand-teal-100: #cceefa;
  --brand-teal-150: #b3e7f8;
  --brand-teal-200: #99def5;
  --brand-teal-300: #66cdef;
  --brand-teal-400: #33bdea;
  --brand-teal-500: #00ace5;
  --brand-teal-600: #008ab7;
  --brand-teal-700: #006789;
  --brand-teal-800: #00455c;
  --brand-teal-900: #00222e;
  --brand-teal-950: #001117;

  /* foundations */
  --brand-white: #ffffff;
  --brand-black: #000000;

  /* Purple */
  --brand-purple-100: #dfdbf0;
  --brand-purple-150: #cfcae8;
  --brand-purple-200: #bfb8e0;
  --brand-purple-300: #9e94d1;
  --brand-purple-400: #7e71c1;
  --brand-purple-500: #5e4db2;
  --brand-purple-600: #4b3e8e;
  --brand-purple-700: #382e6b;
  --brand-purple-800: #261f47;
  --brand-purple-900: #130f24;
  --brand-purple-950: #090812;

  /* Cyan */
  --brand-cyan-100: #d7f1f0;
  --brand-cyan-150: #c4eae8;
  --brand-cyan-200: #afe3e0;
  --brand-cyan-300: #88d4d1;
  --brand-cyan-400: #60c6c1;
  --brand-cyan-500: #38b8b2;
  --brand-cyan-600: #2d938e;
  --brand-cyan-700: #226e6b;
  --brand-cyan-800: #164a47;
  --brand-cyan-900: #0b2524;
  --brand-cyan-950: #061212;

  /* Yellow */
  --brand-yellow-100: #fff5cc;
  --brand-yellow-150: #fff0b3;
  --brand-yellow-200: #ffeb99;
  --brand-yellow-300: #ffe066;
  --brand-yellow-400: #ffd633;
  --brand-yellow-500: #ffcc00;
  --brand-yellow-600: #cca300;
  --brand-yellow-700: #997a00;
  --brand-yellow-800: #665200;
  --brand-yellow-900: #332900;
  --brand-yellow-950: #191400;

  /* Lime */
  --brand-lime-100: #eff7cc;
  --brand-lime-150: #e7f4b3;
  --brand-lime-200: #dff099;
  --brand-lime-300: #cee866;
  --brand-lime-400: #bee133;
  --brand-lime-500: #aed900;
  --brand-lime-600: #8bae00;
  --brand-lime-700: #688200;
  --brand-lime-800: #465700;
  --brand-lime-900: #232b00;
  --brand-lime-950: #111600;

  /* Violet */
  --brand-violet-100: #f9defd;
  --brand-violet-150: #f6cefd;
  --brand-violet-200: #f2bdfb;
  --brand-violet-300: #ec9cfa;
  --brand-violet-400: #e57bf8;
  --brand-violet-500: #df5af6;
  --brand-violet-600: #b248c5;
  --brand-violet-700: #863694;
  --brand-violet-800: #592462;
  --brand-violet-900: #2d1231;
  --brand-violet-950: #160919;

  /* Scale */
  --brand-scale-25: 1px;
  --brand-scale-50: 2px;
  --brand-scale-100: 4px;
  --brand-scale-200: 8px;
  --brand-scale-250: 10px;
  --brand-scale-300: 12px;
  --brand-scale-400: 16px;
  --brand-scale-500: 20px;
  --brand-scale-600: 24px;
  --brand-scale-700: 28px;
  --brand-scale-800: 32px;
  --brand-scale-900: 36px;
  --brand-scale-1000: 40px;
  --brand-scale-1100: 48px;
  --brand-scale-1200: 56px;
  --brand-scale-1300: 64px;
  --brand-scale-1400: 72px;
  --brand-scale-1500: 96px;
  --brand-scale-1600: 128px;
  --brand-scale-1700: 256px;
  --brand-scale-1800: 512px;
}

/* === Alias === */
:root {
  /* Primary */
  --alias-primary-50: var(--brand-blue-50);
  --alias-primary-100: var(--brand-blue-100);
  --alias-primary-150: var(--brand-blue-150);
  --alias-primary-200: var(--brand-blue-200);
  --alias-primary-300: var(--brand-blue-300);
  --alias-primary-400: var(--brand-blue-400);
  --alias-primary-500: var(--brand-blue-500);
  --alias-primary-600: var(--brand-blue-600);
  --alias-primary-700: var(--brand-blue-700);
  --alias-primary-800: var(--brand-blue-800);
  --alias-primary-900: var(--brand-blue-900);
  --alias-primary-950: var(--brand-blue-950);

  /* Error */
  --alias-error-100: var(--brand-red-100);
  --alias-error-150: var(--brand-red-150);
  --alias-error-200: var(--brand-red-200);
  --alias-error-300: var(--brand-red-300);
  --alias-error-400: var(--brand-red-400);
  --alias-error-500: var(--brand-red-500);
  --alias-error-600: var(--brand-red-600);
  --alias-error-700: var(--brand-red-700);
  --alias-error-800: var(--brand-red-800);
  --alias-error-900: var(--brand-red-900);
  --alias-error-950: var(--brand-red-950);

  /* Success */
  --alias-success-100: var(--brand-green-100);
  --alias-success-150: var(--brand-green-150);
  --alias-success-200: var(--brand-green-200);
  --alias-success-300: var(--brand-green-300);
  --alias-success-400: var(--brand-green-400);
  --alias-success-500: var(--brand-green-500);
  --alias-success-600: var(--brand-green-600);
  --alias-success-700: var(--brand-green-700);
  --alias-success-800: var(--brand-green-800);
  --alias-success-900: var(--brand-green-900);
  --alias-success-950: var(--brand-green-950);

  /* Information */
  --alias-information-100: var(--brand-teal-100);
  --alias-information-150: var(--brand-teal-150);
  --alias-information-200: var(--brand-teal-200);
  --alias-information-300: var(--brand-teal-300);
  --alias-information-400: var(--brand-teal-400);
  --alias-information-500: var(--brand-teal-500);
  --alias-information-600: var(--brand-teal-600);
  --alias-information-700: var(--brand-teal-700);
  --alias-information-800: var(--brand-teal-800);
  --alias-information-900: var(--brand-teal-900);
  --alias-information-950: var(--brand-teal-950);

  /* Warning */
  --alias-warning-100: var(--brand-orange-100);
  --alias-warning-150: var(--brand-orange-150);
  --alias-warning-200: var(--brand-orange-200);
  --alias-warning-300: var(--brand-orange-300);
  --alias-warning-400: var(--brand-orange-400);
  --alias-warning-500: var(--brand-orange-500);
  --alias-warning-600: var(--brand-orange-600);
  --alias-warning-700: var(--brand-orange-700);
  --alias-warning-800: var(--brand-orange-800);
  --alias-warning-900: var(--brand-orange-900);
  --alias-warning-950: var(--brand-orange-950);

  /* Surface */
  --alias-surface-50: var(--brand-gray-50);
  --alias-surface-100: var(--brand-gray-100);
  --alias-surface-150: var(--brand-gray-150);
  --alias-surface-200: var(--brand-gray-200);
  --alias-surface-300: var(--brand-gray-300);
  --alias-surface-400: var(--brand-gray-400);
  --alias-surface-500: var(--brand-gray-400);
  --alias-surface-600: var(--brand-gray-600);
  --alias-surface-700: var(--brand-gray-700);
  --alias-surface-800: var(--brand-gray-800);
  --alias-surface-900: var(--brand-gray-900);
  --alias-surface-950: var(--brand-gray-950);

  /* Foundations */
  --alias-foundations-white: var(--brand-white);
  --alias-foundations-black: var(--brand-black);

  /* Interactive */
  --alias-interactive-100: var(--brand-purple-100);
  --alias-interactive-150: var(--brand-purple-150);
  --alias-interactive-200: var(--brand-purple-200);
  --alias-interactive-300: var(--brand-purple-300);
  --alias-interactive-400: var(--brand-purple-400);
  --alias-interactive-500: var(--brand-purple-500);
  --alias-interactive-600: var(--brand-purple-600);
  --alias-interactive-700: var(--brand-purple-700);
  --alias-interactive-800: var(--brand-purple-800);
  --alias-interactive-900: var(--brand-purple-900);
  --alias-interactive-950: var(--brand-purple-950);

  /* Neutral */
  --alias-neutral-50: var(--brand-slate-50);
  --alias-neutral-100: var(--brand-slate-100);
  --alias-neutral-150: var(--brand-slate-150);
  --alias-neutral-200: var(--brand-slate-200);
  --alias-neutral-300: var(--brand-slate-300);
  --alias-neutral-400: var(--brand-slate-400);
  --alias-neutral-500: var(--brand-slate-500);
  --alias-neutral-600: var(--brand-slate-600);
  --alias-neutral-700: var(--brand-slate-700);
  --alias-neutral-800: var(--brand-slate-800);
  --alias-neutral-900: var(--brand-slate-900);
  --alias-neutral-950: var(--brand-slate-950);
}

/* === Mapped Light === */
:root {
  --mapped-text-on-color-heading: var(--alias-foundations-white);
  --mapped-text-on-color-body: var(--alias-foundations-white);
  --mapped-text-on-color-caption: var(--alias-neutral-100);
  --mapped-text-on-color-placeholder: var(--alias-neutral-100);
  --mapped-text-on-color-label: var(--alias-neutral-100);
  --mapped-text-on-color-label-hover: var(--alias-neutral-200);
  --mapped-text-on-color-label-pressed: var(--alias-neutral-300);
  --mapped-text-primary-default: var(--alias-primary-500);
  --mapped-text-primary-default-hover: var(--alias-primary-600);
  --mapped-text-primary-on-color: var(--alias-foundations-white);
  --mapped-text-primary-on-color-hover: var(--alias-neutral-100);
  --mapped-text-primary-default-pressed: var(--alias-primary-700);
  --mapped-text-primary-on-color-pressed: var(--alias-neutral-200);
  --mapped-text-error-default: var(--alias-error-500);
  --mapped-text-error-default-hover: var(--alias-error-600);
  --mapped-text-error-on-color: var(--alias-foundations-white);
  --mapped-text-error-on-color-hover: var(--alias-neutral-100);
  --mapped-text-error-default-press: var(--alias-error-700);
  --mapped-text-error-on-color-pressed: var(--alias-neutral-200);
  --mapped-text-information-default: var(--alias-information-500);
  --mapped-text-information-default-hover: var(--alias-information-600);
  --mapped-text-information-on-color: var(--alias-foundations-white);
  --mapped-text-information-on-color-hover: var(--alias-neutral-100);
  --mapped-text-information-default-pressed: var(--alias-information-700);
  --mapped-text-information-on-color-pressed-2: var(--alias-neutral-200);
  --mapped-text-warning-default: var(--alias-warning-500);
  --mapped-text-warning-default-hover: var(--alias-warning-600);
  --mapped-text-warning-on-color: var(--alias-foundations-white);
  --mapped-text-warning-on-color-hover: var(--alias-neutral-100);
  --mapped-text-warning-default-pressed: var(--alias-warning-700);
  --mapped-text-warning-on-color-pressed: var(--alias-neutral-200);
  --mapped-text-success-default: var(--alias-success-500);
  --mapped-text-success-default-hover: var(--alias-success-600);
  --mapped-text-success-on-color: var(--alias-foundations-white);
  --mapped-text-success-on-color-hover: var(--alias-neutral-100);
  --mapped-text-success-default-pressed: var(--alias-success-700);
  --mapped-text-success-on-color-pressed: var(--alias-neutral-200);
  --mapped-text-disabled-default: var(--alias-neutral-200);
  --mapped-text-disabled-on-color: var(--alias-neutral-300);
  --mapped-text-default-default: var(--alias-neutral-800);
  --mapped-text-default-hover: var(--alias-neutral-900);
  --mapped-text-default-pressed: var(--alias-neutral-950);
  --mapped-text-subtle-default: var(--alias-neutral-600);
  --mapped-text-subtle-hover: var(--alias-neutral-700);
  --mapped-text-subtle-subtle-pressed: var(--alias-neutral-900);
  --mapped-text-interactive-default: var(--alias-interactive-500);
  --mapped-text-interactive-default-hover: var(--alias-interactive-600);
  --mapped-text-interactive-default-pressed: var(--alias-interactive-700);
  --mapped-text-interactive-on-color: var(--alias-foundations-white);
  --mapped-text-interactive-on-color-hover: var(--alias-neutral-100);
  --mapped-text-interactive-on-color-pressed: var(--alias-neutral-200);
  --mapped-text-subtlest-subtlest: var(--alias-neutral-400);
  --mapped-text-subtlest-hover: var(--alias-neutral-500);
  --mapped-text-subtlest-subtlest-pressed: var(--alias-neutral-600);
  --mapped-icon-primary-default: var(--alias-primary-500);
  --mapped-icon-primary-default-hover: var(--alias-primary-600);
  --mapped-icon-primary-on-color: var(--alias-foundations-white);
  --mapped-icon-primary-on-color-hover: var(--alias-neutral-100);
  --mapped-icon-primary-default-pressed: var(--alias-primary-700);
  --mapped-icon-primary-on-color-pressed: var(--alias-neutral-200);
  --mapped-icon-error-default: var(--alias-error-500);
  --mapped-icon-error-default-hover: var(--alias-error-600);
  --mapped-icon-error-on-color: var(--alias-error-100);
  --mapped-icon-error-on-color-hover: var(--alias-error-200);
  --mapped-icon-error-default-pressed: var(--alias-error-700);
  --mapped-icon-error-on-color-pressed: var(--alias-error-300);
  --mapped-icon-information-default: var(--alias-information-500);
  --mapped-icon-information-default-hover: var(--alias-information-600);
  --mapped-icon-information-on-color: var(--alias-information-100);
  --mapped-icon-information-on-color-hover: var(--alias-information-200);
  --mapped-icon-information-default-pressed: var(--alias-information-700);
  --mapped-icon-information-on-color-pressed: var(--alias-information-300);
  --mapped-icon-warning-default: var(--alias-warning-500);
  --mapped-icon-warning-default-hover: var(--alias-warning-600);
  --mapped-icon-warning-on-color: var(--alias-warning-100);
  --mapped-icon-warning-on-color-hover: var(--alias-warning-200);
  --mapped-icon-warning-default-pressed: var(--alias-warning-700);
  --mapped-icon-warning-on-color-pressed: var(--alias-warning-300);
  --mapped-icon-success-default: var(--alias-success-500);
  --mapped-icon-success-default-hover: var(--alias-success-600);
  --mapped-icon-success-on-color: var(--alias-success-100);
  --mapped-icon-success-on-color-hover: var(--alias-success-200);
  --mapped-icon-success-default-pressed: var(--alias-success-700);
  --mapped-icon-success-on-color-pressed: var(--alias-success-300);
  --mapped-icon-disabled-default: var(--alias-neutral-200);
  --mapped-icon-disabled-on-color: var(--alias-neutral-300);
  --mapped-icon-default-default: var(--alias-neutral-800);
  --mapped-icon-default-hover: var(--alias-neutral-900);
  --mapped-icon-default-label-pressed: var(--alias-neutral-950);
  --mapped-icon-subtle-default: var(--alias-neutral-600);
  --mapped-icon-subtle-hover: var(--alias-neutral-700);
  --mapped-icon-subtle-default-subtle-pressed: var(--alias-neutral-900);
  --mapped-icon-interactive-default: var(--alias-interactive-500);
  --mapped-icon-interactive-default-hover: var(--alias-interactive-600);
  --mapped-icon-interactive-default-pressed: var(--alias-interactive-700);
  --mapped-icon-interactive-on-color: var(--alias-foundations-white);
  --mapped-icon-interactive-on-color-hover: var(--alias-neutral-100);
  --mapped-icon-interactive-on-color-pressed: var(--alias-neutral-200);
  --mapped-icon-subtlest-subtlest: var(--alias-neutral-400);
  --mapped-icon-subtlest-subtlest-hover: var(--alias-neutral-500);
  --mapped-icon-subtlest-default-subtlest-pressed: var(--alias-neutral-600);
  --mapped-surface-primary-default: var(--alias-primary-500);
  --mapped-surface-primary-default-hover: var(--alias-primary-600);
  --mapped-surface-primary-default-subtle: var(--alias-foundations-white);
  --mapped-surface-primary-default-subtle-hover: var(--alias-surface-50);
  --mapped-surface-primary-default-pressed: var(--alias-primary-700);
  --mapped-surface-primary-default-subtle-pressed: var(--alias-surface-200);
  --mapped-surface-primary-default-subtle-selected: var(--alias-surface-100);
  --mapped-surface-page: var(--alias-foundations-white);
  --mapped-surface-page-secondary: var(--alias-surface-50);
  --mapped-surface-subtle-default: var(--alias-surface-100);
  --mapped-surface-subtle-hover: var(--alias-surface-200);
  --mapped-surface-subtle-pressed: var(--alias-surface-300);
  --mapped-surface-error-default: var(--alias-error-500);
  --mapped-surface-error-default-hover: var(--alias-error-600);
  --mapped-surface-error-default-pressed: var(--alias-error-700);
  --mapped-surface-information-default: var(--alias-information-500);
  --mapped-surface-information-default-hover: var(--alias-information-600);
  --mapped-surface-information-default-pressed: var(--alias-information-700);
  --mapped-surface-warning-default: var(--alias-warning-500);
  --mapped-surface-warning-default-hover: var(--alias-warning-600);
  --mapped-surface-warning-default-pressed: var(--alias-warning-700);
  --mapped-surface-success-default: var(--alias-success-500);
  --mapped-surface-success-default-hover: var(--alias-success-600);
  --mapped-surface-success-default-pressed: var(--alias-success-700);
  --mapped-surface-disabled-default: var(--alias-surface-50);
  --mapped-surface-interactive-default: var(--alias-interactive-500);
  --mapped-surface-interactive-default-hover: var(--alias-interactive-600);
  --mapped-surface-interactive-default-pressed: var(--alias-interactive-700);
  --mapped-surface-interactive-on-color: var(--alias-foundations-white);
  --mapped-surface-interactive-on-color-hover: var(--alias-surface-100);
  --mapped-surface-interactive-on-color-pressed: var(--alias-surface-200);
  --mapped-surface-default-default: var(--alias-surface-200);
  --mapped-surface-default-hover: var(--alias-surface-400);
  --mapped-surface-default-pressed: var(--alias-surface-500);
  --mapped-surface-subtlest-default: var(--alias-surface-50);
  --mapped-surface-subtlest-hover: var(--alias-surface-150);
  --mapped-surface-subtlest-pressed: var(--alias-surface-200);
  --mapped-surface-elevation-default: var(--alias-foundations-white);
  --mapped-surface-elevation-hover: var(--alias-surface-200);
  --mapped-surface-elevation-pressed: var(--alias-surface-300);
  --mapped-surface-overlay-default: #0d0f1199;
  --mapped-surface-overlay-hover: #0d0f11b3;
  --mapped-surface-overlay-label-pressed: #0d0f11cc;
  --mapped-border-primary-default: var(--alias-primary-500);
  --mapped-border-primary-default-hover: var(--alias-primary-600);
  --mapped-border-primary-default-subtle: var(--alias-foundations-white);
  --mapped-border-primary-default-subtle-hover: var(--alias-surface-100);
  --mapped-border-primary-default-pressed: var(--alias-primary-700);
  --mapped-border-primary-default-subtle-pressed: var(--alias-surface-200);
  --mapped-border-default: var(--alias-surface-200);
  --mapped-border-default-default: var(--alias-surface-800);
  --mapped-border-default-hover: var(--alias-surface-900);
  --mapped-border-default-label-pressed: var(--alias-surface-950);
  --mapped-border-on-color: var(--alias-foundations-white);
  --mapped-border-error-default: var(--alias-error-500);
  --mapped-border-error-default-hover: var(--alias-error-600);
  --mapped-border-error-focus: var(--alias-error-500);
  --mapped-border-error-default-pressed: var(--alias-error-700);
  --mapped-border-information-default: var(--alias-information-500);
  --mapped-border-information-default-hover: var(--alias-information-600);
  --mapped-border-information-focus: var(--alias-information-500);
  --mapped-border-information-default-pressed: var(--alias-information-700);
  --mapped-border-warning-default: var(--alias-warning-500);
  --mapped-border-warning-default-hover: var(--alias-warning-600);
  --mapped-border-warning-focus: var(--alias-warning-500);
  --mapped-border-warning-default-pressed: var(--alias-warning-700);
  --mapped-border-success-default: var(--alias-success-500);
  --mapped-border-success-default-hover: var(--alias-success-600);
  --mapped-border-success-focus: var(--alias-success-500);
  --mapped-border-success-default-pressed: var(--alias-success-700);
  --mapped-border-disabled-default: var(--alias-surface-100);
  --mapped-border-subtle-default: var(--alias-surface-600);
  --mapped-border-subtle-hover: var(--alias-surface-700);
  --mapped-border-subtle-default-subtle-pressed: var(--alias-surface-900);
  --mapped-border-interactive-default: var(--alias-interactive-500);
  --mapped-border-interactive-default-hover: var(--alias-interactive-600);
  --mapped-border-interactive-default-pressed: var(--alias-interactive-700);
  --mapped-border-interactive-on-color: var(--alias-foundations-white);
  --mapped-border-interactive-on-color-hover: var(--alias-surface-100);
  --mapped-border-interactive-on-color-pressed: var(--alias-surface-200);
  --mapped-border-subtlest-default: var(--alias-surface-400);
  --mapped-border-subtlest-hover: var(--alias-surface-500);
  --mapped-border-subtlest-pressed: var(--alias-surface-600);
  --mapped-blanket-default: var(--alias-surface-200);
  --mapped-blanket-default-default: #091e427d;
  --mapped-blanket-on-color: var(--alias-foundations-white);
}

/* === Mapped Dark === */
[data-theme="dark"] {
  --mapped-text-on-color-heading: var(--alias-foundations-black);
  --mapped-text-on-color-body: var(--alias-foundations-black);
  --mapped-text-on-color-caption: var(--alias-neutral-950);
  --mapped-text-on-color-placeholder: var(--alias-neutral-950);
  --mapped-text-on-color-label: var(--alias-neutral-950);
  --mapped-text-on-color-label-hover: var(--alias-neutral-800);
  --mapped-text-on-color-label-pressed: var(--alias-neutral-700);
  --mapped-text-primary-default: var(--alias-primary-600);
  --mapped-text-primary-default-hover: var(--alias-primary-500);
  --mapped-text-primary-on-color: var(--alias-foundations-white);
  --mapped-text-primary-on-color-hover: var(--alias-neutral-100);
  --mapped-text-primary-default-pressed: var(--alias-primary-700);
  --mapped-text-primary-on-color-pressed: var(--alias-neutral-200);
  --mapped-text-error-default: var(--alias-error-600);
  --mapped-text-error-default-hover: var(--alias-error-500);
  --mapped-text-error-on-color: var(--alias-foundations-black);
  --mapped-text-error-on-color-hover: var(--alias-foundations-black);
  --mapped-text-error-default-press: var(--alias-error-700);
  --mapped-text-error-on-color-pressed: var(--alias-foundations-black);
  --mapped-text-information-default: var(--alias-information-600);
  --mapped-text-information-default-hover: var(--alias-information-500);
  --mapped-text-information-on-color: var(--alias-foundations-black);
  --mapped-text-information-on-color-hover: var(--alias-foundations-black);
  --mapped-text-information-default-pressed: var(--alias-information-700);
  --mapped-text-information-on-color-pressed-2: var(--alias-foundations-black);
  --mapped-text-warning-default: var(--alias-warning-600);
  --mapped-text-warning-default-hover: var(--alias-warning-500);
  --mapped-text-warning-on-color: var(--alias-foundations-black);
  --mapped-text-warning-on-color-hover: var(--alias-foundations-black);
  --mapped-text-warning-default-pressed: var(--alias-warning-700);
  --mapped-text-warning-on-color-pressed: var(--alias-foundations-black);
  --mapped-text-success-default: var(--alias-success-600);
  --mapped-text-success-default-hover: var(--alias-success-500);
  --mapped-text-success-on-color: var(--alias-foundations-black);
  --mapped-text-success-on-color-hover: var(--alias-foundations-black);
  --mapped-text-success-default-pressed: var(--alias-success-700);
  --mapped-text-success-on-color-pressed: var(--alias-foundations-black);
  --mapped-text-disabled-default: var(--alias-neutral-400);
  --mapped-text-disabled-on-color: var(--alias-neutral-500);
  --mapped-text-default-default: var(--alias-neutral-200);
  --mapped-text-default-hover: var(--alias-neutral-300);
  --mapped-text-default-pressed: var(--alias-neutral-400);
  --mapped-text-subtle-default: var(--alias-neutral-500);
  --mapped-text-subtle-hover: var(--alias-neutral-400);
  --mapped-text-subtle-subtle-pressed: var(--alias-neutral-200);
  --mapped-text-interactive-default: var(--alias-interactive-600);
  --mapped-text-interactive-default-hover: var(--alias-interactive-500);
  --mapped-text-interactive-default-pressed: var(--alias-interactive-700);
  --mapped-text-interactive-on-color: var(--alias-foundations-black);
  --mapped-text-interactive-on-color-hover: var(--alias-foundations-black);
  --mapped-text-interactive-on-color-pressed: var(--alias-foundations-black);
  --mapped-text-subtlest-subtlest: var(--alias-neutral-500);
  --mapped-text-subtlest-hover: var(--alias-neutral-400);
  --mapped-text-subtlest-subtlest-pressed: var(--alias-neutral-200);
  --mapped-icon-primary-default: var(--alias-primary-600);
  --mapped-icon-primary-default-hover: var(--alias-primary-500);
  --mapped-icon-primary-on-color: var(--alias-foundations-black);
  --mapped-icon-primary-on-color-hover: var(--alias-foundations-black);
  --mapped-icon-primary-default-pressed: var(--alias-primary-700);
  --mapped-icon-primary-on-color-pressed: var(--alias-foundations-black);
  --mapped-icon-error-default: var(--alias-error-600);
  --mapped-icon-error-default-hover: var(--alias-error-500);
  --mapped-icon-error-on-color: var(--alias-foundations-black);
  --mapped-icon-error-on-color-hover: var(--alias-foundations-black);
  --mapped-icon-error-default-pressed: var(--alias-error-700);
  --mapped-icon-error-on-color-pressed: var(--alias-foundations-black);
  --mapped-icon-information-default: var(--alias-information-600);
  --mapped-icon-information-default-hover: var(--alias-information-500);
  --mapped-icon-information-on-color: var(--alias-foundations-black);
  --mapped-icon-information-on-color-hover: var(--alias-foundations-black);
  --mapped-icon-information-default-pressed: var(--alias-information-700);
  --mapped-icon-information-on-color-pressed: var(--alias-foundations-black);
  --mapped-icon-warning-default: var(--alias-warning-600);
  --mapped-icon-warning-default-hover: var(--alias-warning-500);
  --mapped-icon-warning-on-color: var(--alias-foundations-black);
  --mapped-icon-warning-on-color-hover: var(--alias-foundations-black);
  --mapped-icon-warning-default-pressed: var(--alias-warning-700);
  --mapped-icon-warning-on-color-pressed: var(--alias-foundations-black);
  --mapped-icon-success-default: var(--alias-success-600);
  --mapped-icon-success-default-hover: var(--alias-success-500);
  --mapped-icon-success-on-color: var(--alias-foundations-black);
  --mapped-icon-success-on-color-hover: var(--alias-foundations-black);
  --mapped-icon-success-default-pressed: var(--alias-success-700);
  --mapped-icon-success-on-color-pressed: var(--alias-foundations-black);
  --mapped-icon-disabled-default: var(--alias-neutral-400);
  --mapped-icon-disabled-on-color: var(--alias-neutral-500);
  --mapped-icon-default-default: var(--alias-neutral-200);
  --mapped-icon-default-hover: var(--alias-neutral-300);
  --mapped-icon-default-label-pressed: var(--alias-neutral-400);
  --mapped-icon-subtle-default: var(--alias-neutral-500);
  --mapped-icon-subtle-hover: var(--alias-neutral-400);
  --mapped-icon-subtle-default-subtle-pressed: var(--alias-neutral-200);
  --mapped-icon-interactive-default: var(--alias-interactive-600);
  --mapped-icon-interactive-default-hover: var(--alias-interactive-500);
  --mapped-icon-interactive-default-pressed: var(--alias-interactive-700);
  --mapped-icon-interactive-on-color: var(--alias-foundations-black);
  --mapped-icon-interactive-on-color-hover: var(--alias-foundations-black);
  --mapped-icon-interactive-on-color-pressed: var(--alias-foundations-black);
  --mapped-icon-subtlest-subtlest: var(--alias-neutral-500);
  --mapped-icon-subtlest-subtlest-hover: var(--alias-neutral-400);
  --mapped-icon-subtlest-default-subtlest-pressed: var(--alias-neutral-200);
  --mapped-surface-primary-default: var(--alias-primary-600);
  --mapped-surface-primary-default-hover: var(--alias-primary-500);
  --mapped-surface-primary-default-subtle: var(--alias-foundations-black);
  --mapped-surface-primary-default-subtle-hover: var(--alias-foundations-black);
  --mapped-surface-primary-default-pressed: var(--alias-primary-700);
  --mapped-surface-primary-default-subtle-pressed: var(--alias-foundations-black);
  --mapped-surface-primary-default-subtle-selected: var(--alias-foundations-black);
  --mapped-surface-page: var(--alias-foundations-black);
  --mapped-surface-page-secondary: var(--alias-surface-900);
  --mapped-surface-subtle-default: var(--alias-surface-300);
  --mapped-surface-subtle-hover: var(--alias-surface-200);
  --mapped-surface-subtle-pressed: var(--alias-surface-400);
  --mapped-surface-error-default: var(--alias-error-600);
  --mapped-surface-error-default-hover: var(--alias-error-500);
  --mapped-surface-error-default-pressed: var(--alias-error-700);
  --mapped-surface-information-default: var(--alias-information-600);
  --mapped-surface-information-default-hover: var(--alias-information-500);
  --mapped-surface-information-default-pressed: var(--alias-information-700);
  --mapped-surface-warning-default: var(--alias-warning-600);
  --mapped-surface-warning-default-hover: var(--alias-warning-500);
  --mapped-surface-warning-default-pressed: var(--alias-warning-700);
  --mapped-surface-success-default: var(--alias-success-600);
  --mapped-surface-success-default-hover: var(--alias-success-500);
  --mapped-surface-success-default-pressed: var(--alias-success-700);
  --mapped-surface-disabled-default: var(--alias-surface-900);
  --mapped-surface-interactive-default: var(--alias-interactive-600);
  --mapped-surface-interactive-default-hover: var(--alias-interactive-500);
  --mapped-surface-interactive-default-pressed: var(--alias-interactive-700);
  --mapped-surface-interactive-on-color: var(--alias-foundations-black);
  --mapped-surface-interactive-on-color-hover: var(--alias-foundations-black);
  --mapped-surface-interactive-on-color-pressed: var(--alias-foundations-black);
  --mapped-surface-default-default: var(--alias-surface-500);
  --mapped-surface-default-hover: var(--alias-surface-400);
  --mapped-surface-default-pressed: var(--alias-surface-600);
  --mapped-surface-subtlest-default: var(--alias-surface-200);
  --mapped-surface-subtlest-hover: var(--alias-surface-150);
  --mapped-surface-subtlest-pressed: var(--alias-surface-300);
  --mapped-surface-elevation-default: var(--alias-surface-900);
  --mapped-surface-elevation-hover: var(--alias-surface-800);
  --mapped-surface-elevation-pressed: var(--alias-surface-700);
  --mapped-surface-overlay-default: #0d0f1199;
  --mapped-surface-overlay-hover: #0d0f11b3;
  --mapped-surface-overlay-label-pressed: #0d0f11cc;
  --mapped-border-primary-default: var(--alias-primary-600);
  --mapped-border-primary-default-hover: var(--alias-primary-500);
  --mapped-border-primary-default-subtle: var(--alias-foundations-black);
  --mapped-border-primary-default-subtle-hover: var(--alias-foundations-black);
  --mapped-border-primary-default-pressed: var(--alias-primary-700);
  --mapped-border-primary-default-subtle-pressed: var(--alias-foundations-black);
  --mapped-border-default: var(--alias-surface-900);
  --mapped-border-default-default: var(--alias-surface-200);
  --mapped-border-default-hover: var(--alias-surface-300);
  --mapped-border-default-label-pressed: var(--alias-surface-400);
  --mapped-border-on-color: var(--alias-foundations-black);
  --mapped-border-error-default: var(--alias-error-600);
  --mapped-border-error-default-hover: var(--alias-error-500);
  --mapped-border-error-focus: var(--alias-error-600);
  --mapped-border-error-default-pressed: var(--alias-error-700);
  --mapped-border-information-default: var(--alias-information-600);
  --mapped-border-information-default-hover: var(--alias-information-500);
  --mapped-border-information-focus: var(--alias-information-600);
  --mapped-border-information-default-pressed: var(--alias-information-700);
  --mapped-border-warning-default: var(--alias-warning-600);
  --mapped-border-warning-default-hover: var(--alias-warning-500);
  --mapped-border-warning-focus: var(--alias-warning-600);
  --mapped-border-warning-default-pressed: var(--alias-warning-700);
  --mapped-border-success-default: var(--alias-success-600);
  --mapped-border-success-default-hover: var(--alias-success-500);
  --mapped-border-success-focus: var(--alias-success-600);
  --mapped-border-success-default-pressed: var(--alias-success-700);
  --mapped-border-disabled-default: var(--alias-surface-900);
  --mapped-border-subtle-default: var(--alias-surface-500);
  --mapped-border-subtle-hover: var(--alias-surface-400);
  --mapped-border-subtle-default-subtle-pressed: var(--alias-surface-200);
  --mapped-border-interactive-default: var(--alias-interactive-600);
  --mapped-border-interactive-default-hover: var(--alias-interactive-500);
  --mapped-border-interactive-default-pressed: var(--alias-interactive-700);
  --mapped-border-interactive-on-color: var(--alias-foundations-black);
  --mapped-border-interactive-on-color-hover: var(--alias-foundations-black);
  --mapped-border-interactive-on-color-pressed: var(--alias-foundations-black);
  --mapped-border-subtlest-default: var(--alias-surface-500);
  --mapped-border-subtlest-hover: var(--alias-surface-400);
  --mapped-border-subtlest-pressed: var(--alias-surface-200);
  --mapped-blanket-default: var(--alias-surface-900);
  --mapped-blanket-default-default: #10121499;
  --mapped-blanket-on-color: var(--alias-foundations-black);
}

/* === Spacing === */
:root {
  --spacing-25: var(--brand-scale-25);
  --spacing-50: var(--brand-scale-50);
  --spacing-100: var(--brand-scale-100);
  --spacing-200: var(--brand-scale-200);
  --spacing-300: var(--brand-scale-300);
  --spacing-400: var(--brand-scale-400);
  --spacing-500: var(--brand-scale-500);
  --spacing-600: var(--brand-scale-600);
  --spacing-800: var(--brand-scale-800);
  --spacing-1000: var(--brand-scale-1000);
  --spacing-1100: var(--brand-scale-1100);
  --spacing-1300: var(--brand-scale-1300);
  --spacing-1400: var(--brand-scale-1400);
  --spacing-none: 0;
}

/* === Responsive Font === */
:root {
  --responsive-font-headings-h1-text-size: 48px;
  --responsive-font-headings-h1-paragraph-spacing: 56px;
  --responsive-font-headings-h1-line-height: 56px;
  --responsive-font-headings-h2-text-size: 40px;
  --responsive-font-headings-h2-paragraph-spacing: 48px;
  --responsive-font-headings-h2-line-height: 48px;
  --responsive-font-headings-h3-text-size: 32px;
  --responsive-font-headings-h3-paragraph-spacing: 40px;
  --responsive-font-headings-h3-line-height: 40px;
  --responsive-font-headings-h4-text-size: 28px;
  --responsive-font-headings-h4-paragraph-spacing: 32px;
  --responsive-font-headings-h4-line-height: 32px;
  --responsive-font-headings-h5-text-size: 24px;
  --responsive-font-headings-h5-paragraph-spacing: 28px;
  --responsive-font-headings-h5-line-height: 28px;
  --responsive-font-headings-h6-text-size: 20px;
  --responsive-font-headings-h6-paragraph-spacing: 24px;
  --responsive-font-headings-h6-line-height: 24px;
  --responsive-font-copy-body-lg-text-size: 20px;
  --responsive-font-copy-body-lg-paragraph-spacing: 24px;
  --responsive-font-copy-body-lg-line-height: 24px;
  --responsive-font-copy-body-text-size: 16px;
  --responsive-font-copy-body-paragraph-spacing: 20px;
  --responsive-font-copy-body-line-height: 24px;
  --responsive-font-copy-body-sm-text-size: 14px;
  --responsive-font-copy-body-sm-paragraph-spacing: 16px;
  --responsive-font-copy-body-sm-line-height: 16px;
  --responsive-font-copy-caption-text-size: 12px;
  --responsive-font-copy-caption-paragraph-spacing: 16px;
  --responsive-font-copy-caption-line-height: 16px;
}

@media (min-width: 768px) {
  :root {
    --responsive-font-headings-h1-text-size: 60px;
    --responsive-font-headings-h1-paragraph-spacing: 72px;
    --responsive-font-headings-h1-line-height: 72px;
    --responsive-font-headings-h2-text-size: 48px;
    --responsive-font-headings-h2-paragraph-spacing: 56px;
    --responsive-font-headings-h2-line-height: 56px;
    --responsive-font-headings-h3-text-size: 40px;
    --responsive-font-headings-h3-paragraph-spacing: 48px;
    --responsive-font-headings-h3-line-height: 48px;
    --responsive-font-headings-h4-text-size: 32px;
    --responsive-font-headings-h4-paragraph-spacing: 40px;
    --responsive-font-headings-h4-line-height: 40px;
    --responsive-font-copy-body-sm-paragraph-spacing: 20px;
    --responsive-font-copy-body-sm-line-height: 20px;
  }
}

/* === Gradients === */
:root {
  --gradient-subtle: linear-gradient(0deg, #ffffff 0%, #ffffff00 100%);
  --gradient-default: linear-gradient(0deg, #ffffff 10%, #ffffff80 100%);
}
