.mn-divider {
  background: var(--mapped-border-subtle-default);
  flex-shrink: 0;
}

.mn-divider--horizontal {
  width: 100%;
  height: var(--brand-scale-25);
}

.mn-divider--horizontal.mn-divider--w2 {
  height: var(--brand-scale-50);
}

.mn-divider--vertical {
  align-self: stretch;
  width: var(--brand-scale-25);
}

.mn-divider--vertical.mn-divider--w2 {
  width: var(--brand-scale-50);
}
